[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "src/uros/micro-ROS-Agent"]
	path = src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "src/uros/micro_ros_msgs"]
	path = src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
	branch = humble
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
	branch = main
[submodule "src/gazebo_mecanum_plugins"]
	path = src/gazebo_mecanum_plugins
	url = https://github.com/qaz9517532846/gazebo_mecanum_plugins.git
	branch = ros2-foxy
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/yunke120/slam_gmapping.git
	branch = eloquent-devel
