<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Macro for inertia matrix -->
    <xacro:macro name="sphere_inertial_matrix" params="mass radius">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${2*mass*radius*radius/5}" ixy="0" ixz="0"
                iyy="${2*mass*radius*radius/5}" iyz="0" 
                izz="${2*mass*radius*radius/5}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertial_matrix" params="mass radius length">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${mass*(3*radius*radius+length*length)/12}" ixy = "0" ixz = "0"
                iyy="${mass*(3*radius*radius+length*length)/12}" iyz = "0"
                izz="${mass*radius*radius/2}" /> 
        </inertial>
    </xacro:macro>

    <xacro:macro name="box_inertial_matrix" params="mass length width height">
       <inertial>
               <mass value="${mass}" />
               <inertia ixx="${mass*(height*height + length*length)/12}" ixy = "0" ixz = "0"
                   iyy="${mass*(width*width + length*length)/12}" iyz= "0"
                   izz="${mass*(width*width + height*height)/12}" />
       </inertial>
   </xacro:macro>
</robot>
