<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bot">
    <xacro:include filename="inertia.urdf.xacro"/>
    <xacro:include filename="material.urdf.xacro"/>

    <xacro:include filename="bot_wheel.urdf.xacro"/>
    <xacro:include filename="bot_base.urdf.xacro"/>
    <xacro:include filename="bot_lidar.urdf.xacro"/>

    <xacro:include filename="bot_gazebo.xacro"/>
    <xacro:include filename="bot_gazebo_plugin.xacro"/>

</robot>