<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- import gazebo_mecanum_drive plugin -->
	<gazebo>
		<plugin name="bot_diff_drive" filename="libgazebo_mecanum_drive.so">
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<robotBaseFrame>base_footprint</robotBaseFrame>
			<LeftRear>back_left_joint</LeftRear>
			<LeftFront>front_left_joint</LeftFront>
			<RightFront>front_right_joint</RightFront>
			<RightRear>back_right_joint</RightRear>
			<odometryRate>30</odometryRate>      
			<publishWheelTF>true</publishWheelTF>
			<publishOdomTF>true</publishOdomTF>
			<WheelTorque>30</WheelTorque>
			<WheelSeparationW>0.35</WheelSeparationW>
			<WheelSeparationL>0.6</WheelSeparationL>
			<wheelAccel>10</wheelAccel>
			<wheelDiameter>0.13</wheelDiameter>
			<publishOdom>true</publishOdom>
			<isRollerModel>true</isRollerModel>
		</plugin>
	</gazebo>

	<!-- import joint_state_publisher plugin -->
	<gazebo>
		<plugin name="bot_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
			<ros>
				<remapping>~/out:=joint_states</remapping>
			</ros>
			<update_rate>30</update_rate>
			<!-- wheel joint -->
			<joint_name>back_left_joint</joint_name>
			<joint_name>front_left_joint</joint_name>
			<joint_name>front_right_joint</joint_name>
			<joint_name>back_right_joint</joint_name>
			<!-- roller front_left -->
			<joint_name>front_left_roller_2_joint</joint_name>
			<joint_name>front_left_roller_1_joint</joint_name>
			<joint_name>front_left_roller_3_joint</joint_name>
			<joint_name>front_left_roller_4_joint</joint_name>
			<joint_name>front_left_roller_5_joint</joint_name>
			<joint_name>front_left_roller_6_joint</joint_name>
			<joint_name>front_left_roller_7_joint</joint_name>
			<joint_name>front_left_roller_8_joint</joint_name>
			<joint_name>front_left_roller_9_joint</joint_name>
			<joint_name>front_left_roller_10_joint</joint_name>
			<joint_name>front_left_roller_11_joint</joint_name>
			<joint_name>front_left_roller_12_joint</joint_name>
			<!-- roller back_left -->
			<joint_name>back_left_roller_2_joint</joint_name>
			<joint_name>back_left_roller_1_joint</joint_name>
			<joint_name>back_left_roller_3_joint</joint_name>
			<joint_name>back_left_roller_4_joint</joint_name>
			<joint_name>back_left_roller_5_joint</joint_name>
			<joint_name>back_left_roller_6_joint</joint_name>
			<joint_name>back_left_roller_7_joint</joint_name>
			<joint_name>back_left_roller_8_joint</joint_name>
			<joint_name>back_left_roller_9_joint</joint_name>
			<joint_name>back_left_roller_10_joint</joint_name>
			<joint_name>back_left_roller_11_joint</joint_name>
			<joint_name>back_left_roller_12_joint</joint_name>
			<!-- roller back_right -->
			<joint_name>back_right_roller_2_joint</joint_name>
			<joint_name>back_right_roller_1_joint</joint_name>
			<joint_name>back_right_roller_3_joint</joint_name>
			<joint_name>back_right_roller_4_joint</joint_name>
			<joint_name>back_right_roller_5_joint</joint_name>
			<joint_name>back_right_roller_6_joint</joint_name>
			<joint_name>back_right_roller_7_joint</joint_name>
			<joint_name>back_right_roller_8_joint</joint_name>
			<joint_name>back_right_roller_9_joint</joint_name>
			<joint_name>back_right_roller_10_joint</joint_name>
			<joint_name>back_right_roller_11_joint</joint_name>
			<joint_name>back_right_roller_12_joint</joint_name>
			<!-- roller front_right -->
			<joint_name>front_right_roller_2_joint</joint_name>
			<joint_name>front_right_roller_1_joint</joint_name>
			<joint_name>front_right_roller_3_joint</joint_name>
			<joint_name>front_right_roller_4_joint</joint_name>
			<joint_name>front_right_roller_5_joint</joint_name>
			<joint_name>front_right_roller_6_joint</joint_name>
			<joint_name>front_right_roller_7_joint</joint_name>
			<joint_name>front_right_roller_8_joint</joint_name>
			<joint_name>front_right_roller_9_joint</joint_name>
			<joint_name>front_right_roller_10_joint</joint_name>
			<joint_name>front_right_roller_11_joint</joint_name>
			<joint_name>front_right_roller_12_joint</joint_name>
		</plugin>
	</gazebo> 


	<!-- import lidar controller plugin -->
	<gazebo reference="lidar">
		<sensor type="ray" name="sllidar_sensor">
			<pose>0 0 0 0 0 0</pose>
			<always_on>true</always_on>
			<visualize>true</visualize>
			<update_rate>30</update_rate>
			<ray>
				<scan>
					<horizontal>
						<samples>360</samples>
						<resolution>1</resolution>
						<!-- 135/180*pi -->
						<min_angle>-2.356194</min_angle>
						<max_angle>2.356194</max_angle>
					</horizontal>
				</scan>
				<range>
					<min>0.12000</min>
					<max>11</max>
					<resolution>0.015000</resolution>
				</range>
				<noise>
					<type>gaussian</type>
					<mean>0.0</mean>
					<stddev>0.01</stddev>
				</noise>
			</ray>
			<plugin name="bot_lidar_sensor" filename="libgazebo_ros_ray_sensor.so">
				<ros>
					<remapping>~/out:=/scan</remapping>
				</ros>
				<output_type>sensor_msgs/LaserScan</output_type>
				<frame_name>lidar</frame_name>
			</plugin>
		</sensor>
	</gazebo>

	<!-- import depth camera controller plugin -->
	<gazebo reference="depth_link">
		<sensor name="depth_camera" type="depth">
		<always_on>true</always_on>
		<visualize>true</visualize>
		<update_rate>30</update_rate>
		<camera name="depth_camera">
			<horizontal_fov>1.047198</horizontal_fov>
			<image>
			<width>960</width>
			<height>540</height>
			<format>R8G8B8</format>
			</image>
			<clip>
			<near>0.05</near>
			<far>3</far>
			</clip>
		</camera>
		<plugin name="depth_camera_driver" filename="libgazebo_ros_camera.so">
			<camera_name>camera</camera_name>
			<frame_name>camera</frame_name>
			<triggered>false</triggered>											
			<hack_baseline>0.07</hack_baseline>
		</plugin>
		</sensor>
	</gazebo>
	<!-- import imu controller plugin -->
	<gazebo reference="imu_n100">
		<sensor name="imu_sensor" type="imu">
		<always_on>true</always_on>
		<update_rate>200</update_rate>
		<imu>
			<angular_velocity>
			<x>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>2e-4</stddev>
				</noise>
			</x>
			<y>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>2e-4</stddev>
				</noise>
			</y>
			<z>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>2e-4</stddev>
				</noise>
			</z>
			</angular_velocity>
			<linear_acceleration>
			<x>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>1.7e-2</stddev>
				</noise>
			</x>
			<y>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>1.7e-2</stddev>
				</noise>
			</y>
				<z>
				<noise type="gaussian">
				<mean>0.0</mean>
				<stddev>1.7e-2</stddev>
				</noise>
			</z>
			</linear_acceleration>
		</imu>
		<plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
			<ros>
			<remapping>~/out:=imu</remapping>
			</ros>
		</plugin>
		</sensor>
	</gazebo>

</robot>
