# set the udev rule , make the device_port be fixed by ch340
#
KERNEL=="ttyUSB0", ATTRS{idVendor}=="1d6b", ATTRS{idProduct}=="0002", MODE:="0777", SYMLINK+="ch340"

